# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
Packages/manifest.temp.json

# VS/IDE
.vs/
*.csproj
*.sln
*.user
*.pidb
*.svd
*.suo
*.userprefs

# OS
.DS_Store
Thumbs.db

# Crash/Reports
sysinfo.txt

# Cache
*.apk
*.aab
*.unitypackage
